.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderText {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 700;
}
