.title {
  position: relative;
  font-size: 9rem;
  line-height: 0;
  color: #fff;
}

.decorator {
  pointer-events: none;
  content: attr(data-title);
  position: absolute;
  font-size: 45rem;
  left: 50%;
  top: -10rem;
  transform: translateX(-50%);
  z-index: 0;
  user-select: none;
}
