.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background: var(--bgColor);
  color: var(--baseColor);
}

.wrapper {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

.canvas {
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & > canvas {
    top: 0;
    position: absolute;
  }
}

.imageWrapper {
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 4rem;
  height: 4rem;
  bottom: -20px;
  margin: -36px 16px 0;
}

.paragraph {
  color: inherit;
  z-index: 1;
  font-size: 1.5rem;
  line-height: 1.25;

  & > .decor {
    font-size: 3.5rem;
    font-weight: bold;
  }

  & code {
    font-size: 1.3rem;
    padding: 2px 8px;
    background: #2a2a2a;
    color: var(--accentColor);
  }

  & a {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;

    &:hover,
    &:focus {
      background: var(--baseColor);
      color: var(--accentColor);
    }
  }
}

.descriptionWrapper {
  display: flex;
  flex-flow: column nowrap;
}
