.pageWrapper {
  width: 100vw;
  height: 100%;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contentWrapper {
  display: flex;
  width: 100%;
  z-index: 1;
}

.descriptionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.backBtn {
  position: fixed;
  left: 2rem;
  top: 2rem;
}
